*{
    padding: 0;
    margin: 0;
}
body{
    background:#cad0db;
}
.menu{
    background-color: #100533;
    width: 100%;
}
.menu ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 80px;
    font-size:30px;
    padding: 10px;
   
}
.menu ul li a{
    text-decoration: none;
    color: white;    
}
.menu ul li a:hover{
    color: #ff081c;
}
